@import "../../../assets/variables.scss";

.projects-page {
  width: 100%;
  height: 100vh;
  padding-top: 70px;
  color: #fff;
  background: $color1;
  display: flex;
  flex-direction: column;
}

.header {
  margin: 20px 0;
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 100;
}

.carousel-container {
  min-height: 100%;
  padding: 20px 0;
  
}

.body {
  min-height: 100%;
  width: 100%;
  display: flex;
}

@media screen and (max-width: 576px) {
  .body {
    flex-direction: column;
    padding-bottom: 49px;
  }

  .header {
    padding: 40px 0;
  }
  .carousel-container {
    height: 900px;
  }
}
