@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

$colorDominant: #f5f5ff;
$colorNavbar: #f5f5ff;
$colorFonts: #1b1b1b;
$color1: #4447f8;

$color2: #8e90f9;
$color3: #3735c4;
$color4: #202278;
$color5: #445b78;
$color6: #40186a;
$color6Dark: #2b1049;
$color7: #53004c;
$color8: #1d4897;

$gradient1: linear-gradient(180deg, $color7 0%, $color6 100%);
$gradient2: linear-gradient(180deg, $color6 0%, $color7 100%);

$dancingScript-font: "Dancing Script", cursive;
